<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='boot/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleProveedores.css') }}">
    <title>Editar Proveedores</title>
</head>

<body>
    <h1>Editar Proveedores</h1>
    <form action="{{ url_for('Proveedores.edit', idProveedores=proveedor.idProveedores) }}" method="post">
        <div class="mb-3">
            <label for="exampleInputNombreClientes" class="form-label">Nombre Proveedores</label>
            <input type="text" id="nombreProveedores" name="nombreProveedores" class="form-control"
                value="{{ proveedor.nombreProveedores }}" id="exampleInputNombreProveedores"
                aria-describedby="nombreProveedoresHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputDireccion1" class="form-label">Direccion Proveedores</label>
            <input type="text" id="direccionProveedores" name="direccionProveedores" class="form-control"
                value="{{ proveedor.direccionProveedores }}" id="exampleInputDireccion1">
        </div>
        <div class="mb-3">
            <label for="exampleInputTelefono1" class="form-label">Telefono Proveedores</label>
            <input type="text" id="telefonoProveedores" name="telefonoProveedores" class="form-control"
                value="{{ proveedor.telefonoProveedores }}" id="exampleInputTelefono1">
        </div>
        <div class="mb-3">
            <label for="exampleInputCorreo1" class="form-label">Correo Proveedores</label>
            <input type="text" id="correoProveedores" name="correoClientes" class="form-control"
                value="{{ proveedor.correoProveedores }}" id="exampleInputCorreo1">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Proveedor</button>
    </form>
</body>

</html>