div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Más negro para la sombra */
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffd700; /* Amarillo más brillante */
    color: #333; /* Gris oscuro */
}

a {
    text-decoration: none;
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid #ff8c00; /* Naranja más brillante */
    color: #ff8c00; /* Naranja más brillante */
    border-radius: 4px;
    display: inline-block;
}

a:hover {
    background-color: #ff8c00; /* Naranja más brillante */
    color: #fff; /* Blanco */
}

body {
    background-color: #f8f9fa; /* Gris claro */
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Texto en negro */
}

.container {
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffd700; /* Amarillo más brillante */
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Más negro para la sombra */
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ffd700; /* Amarillo más brillante */
    padding: 15px;
    text-align: left;
}

th {
    background-color: #ffd700; /* Amarillo más brillante */
    color: #333; /* Gris oscuro */
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions a {
    margin-right: 5px;
    color: #ffd700; /* Amarillo más brillante */
    text-decoration: none;
    transition: color 0.3s;
}

.actions a:hover {
    color: #ff8c00; /* Naranja más brillante */
}

.btn-outline-info {
    margin-left: 10px;
    color: #ffd700; /* Amarillo más brillante */
    border-color: #ffd700; /* Amarillo más brillante */
}

.btn-outline-info:hover {
    background-color: #ffd700; /* Amarillo más brillante */
    color: #fff; /* Blanco */
}


